<p-toast></p-toast>
<app-spinner-load *ngIf="spinner"></app-spinner-load>
<div class="p-as-center p-mt-auto p-mb-auto" *ngIf="!spinner">
    <div class="pages-panel card p-d-flex p-flex-column">
        <h3>Cambio de contraseña</h3>
        <div class="input-panel p-d-flex p-flex-column p-px-3" [formGroup]="passwordForm">

            <div class="p-inputgroup p-mt-2">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-lock"></i>
                </span>
                <span class="p-float-label">
                    <input type="password" id="password" pInputText formControlName="password">
                    <label for="password">Contraseña</label>
                </span>

            </div>
            <div class="p-inputgroup p-mt-2 p-mb-3">
                <small id="password-help" class="p-error" *ngIf="passwordForm.get('password').invalid">Contraseña
                    invalida</small>
            </div>

        </div>

        <p-button class="login-button p-mb-6 p-px-3" label="Cambiar" (click)="change()" [disabled]="passwordForm.invalid"></p-button>

    </div>
</div>